.book-details h2 {
  font-size: 20px;
  color: #4235f1;
  margin-bottom: 10px;
}
.book-details div {
  margin: 20px 0;
}
.book-details button {
  background: #4235f1;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px auto;
  display: block;
}