@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  background: #efefef;
}

.Container {
  max-width: 800px;
  margin: 50px auto;
  width: 90%;
  box-shadow: 1px 1px 2px 0px #00000063;
  border-radius: 5px;
}
